
.filterbar, #filtrosClose {
  display: none;
}

.filtros {
  ui.dropdown {
    z-index: 0;
    .menu {
      z-index: 10;
    }
  }
  .ui.accordion {
    .title {
      font-weight: 600;
      font-size: 14px;
      border-bottom: 1px solid #dededf;
      text-transform: uppercase;
      padding-left: 15px;
      box-shadow: inset 5px 0 0 rgb(44, 62, 80);
      margin-bottom: 10px;
      &.active {
        border-bottom: 0px solid #dededf;
        background-color: rgb(44, 62, 80) !important;
        color: #ffffff;
      }
      .icon {
        float: right;
        margin-top: 3px;
      }
    }
  }

  button.close {
    display: none;
  }
}
.ui.teal.icon.button.pricefilter{
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: $white;
}
.filterColumn {
  @media screen and (max-width: $mobile-bp) {
    display: none !important;
    }
  &.ativo {
    @media screen and (max-width: $mobile-bp) {
      display: block !important;
      }
    }
  }

#filtros {

  @media screen and (max-width: $mobile-bp) {
    display: none !important;
  }

  .row {

    @media screen and (max-width: $mobile-bp) {
      padding: 0px;
    }
  }

  .filterbar {

    @media screen and (max-width: $mobile-bp) {
      height: 45px;
      color: #ffffff;
      background: $ascent-5-color;
      width: 100vw;
      margin: -1em -1em 20px -1em !important;
      vertical-align: middle;
      line-height: 45px;
    }

    h3 {

      @media screen and (max-width: $mobile-bp) {
        line-height: 45px;
        float: left;
        width: calc(100vw - 60px);
        position: absolute;
        left: 10px;
      }
    }

    .button {
      @media screen and (max-width: $mobile-bp) {
        float: right;
        height: 45px;
        width: 45px;
        margin: 0px !important;
        border-radius: 0px;
        font-size: 20px;
        padding: 10px;
        margin-right: -14px !important;
      }
    }
  }
}

#filtros.ativo {

  @media screen and (max-width: $mobile-bp) {
    background: #ffffff;
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    padding: 1em;
    width: 100%;
    display: inline-block !important;
    height: 100%;
    overflow: scroll;
  }
}

.button.variacao.cor {
    border-radius: 100%;
}

.button.checkText {
    border-radius: 100% !important;
    height: 15px;
    width: 15px;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    padding: 2px 18px 20px 7px;
    margin: 0 0 0 1px;
}

input#initialPrice {
    height: 25px;
}

input#finalPrice {
    height: 24px;
}

.button.pricefilter {
    height: 24px;
    padding: 0;
}

.pricefilter .icon {
    margin: 0;
    padding: 0;
    top: -6px;
    position: relative;
}

.filtros .ui.accordion .title.active {
    border-bottom: 0px solid #dededf;
    background-color: #ffffff !important;
    color: #2c3e50;
    border-bottom: 1px solid #2c3e50;
    box-shadow: inset 5px 0 0 #2c3e50;
}
.filtros .ui.accordion .title {
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid #dededf;
    text-transform: uppercase;
    padding-left: 15px;
    -webkit-box-shadow: inset 5px 0 0 #2c3e50;
    box-shadow: inset 5px 0 0 #dededf;
    margin-bottom: 10px;
    color: #dededf;
}
.variacao.cor {
    height: 15px;
    width: 15px;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    padding: 12px;
}